<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--http://www.mybatis.org/mybatis-3/configuration.html#mappers-->
<configuration>
<!-- Using classpath relative resources -->
<mappers>
    <mapper resource="mybatis/UserMapper.xml"/>
   <!-- <mapper resource="org/mybatis/builder/BlogMapper.xml"/> -->

</mappers>

</configuration>